/********************************************************
 * Main document styling
 ********************************************************/
body {
  margin : 0;
  font-size : 16px;
}

h1 {
  color: green;
  text-align: center;
  font-size: 350%;
  font-family: courier;
}

h2 {
  color:blue;
}

p {
  color:black;
  margin:0;
  padding:0;
}

/********************************************************
 * links
 ********************************************************/
a.dropdown {
  text-decoration : none;
  color : black;
}

a.active {
  text-decoration : none;
  color : white;
}

a.dropdown:hover {
  color : white;
  font-weight : bold;
}


/********************************************************
 * big_pic: home webpage center pic 
 * main_block: heading of the page styling
 * main menu: unorder list styling for main menue 
 ********************************************************/ 
div.main_block {
  margin : 0;
  padding-left: 110px;
  padding-top: 50px;
  padding-right: 0;
  padding-bottom: 50px; /* adds space between top_page and next text */
}


/********************************************************
 * unorder list
 ********************************************************/
ul.main_menu {
  list-style-type : none;
  margin : 0;
  position : relative; /* main block top:50px*/
  padding-left : 0;
  padding-right: 110px;
  padding-top: 60px;
  padding-bottom: 0;
}

li.dropdown {
  background-color : white;
  font-weight : normal;
  font-size : 16px;
  float : right;
  position : relative;
  cursor :pointer;
        /*top right bottom left*/
  padding: 4px 4px 4px 4px; /*background color around text*/
  margin: 0px 7px 7px 0px; /*spaces between li*/
}

li.active {
  color : white;
  background-color: rgb(0,100,0); /* Dark Green */
  font-weight : normal;
  font-size : 16px;
  float : right;
  position : relative;
  cursor :pointer;
        /*top right bottom left*/
  padding: 4px 4px 4px 4px; /*background color around text*/
  margin: 0px 7px 7px 0px; /*spaces between li*/
}

li.dropdown:hover {
  background-color: rgb(0,100,0); /* Dark Green */
  color : white;
  font-weight : bold;
}

/* does not work
button.not(:active) {
  color : red;
  background-color : black;
}*/

/********************************************************
 * tools
 ********************************************************/
.big_pic {
  padding-left: 200px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/********************************************************
 * Extra tools
 *
 * buttons:
 *   padding: 5px 5px 5px;  top sides bottom
 *
 *
 *
 *
 ********************************************************/

