body {
  margin : 0;
  font-size : 16px;
}

h1 {
  color: green;
  text-align: center;
  font-size: 350%;
  font-family: courier;
}

h2 {
  color:blue;
}
p {
  color:black;
  margin:0;
  padding:0;
}

a {
  text-decoration : none;
}

li a {
  display : inline-block;
  padding : 14px;
  float : left;
  background-color: #f1f1f1;
}

li a:hover {
  background-color: #555;
  color: white;

}

li a.active {
  background-color: #4CAF50;
  color: white;
}

.home_main_pic {
  padding-left: 200px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.main_block {
  margin : 0;
  padding-left: 120px;
  padding-top: 50px;
  padding-right: 0;
  padding-bottom: 70px;
}

.main_menu{
  list-style-type : none;
  margin : 0;
  padding-left : 500px;
  padding-right: 0;
  padding-top: 40px;
  padding-bottom: 0;
}
